.App {
  text-align: center;
  background-color: #ffffff;
  margin-top: 30px;
}

.feed-item {
  margin-top: 15px;
  border: 5px 5px 5px 5px;
}

.feedItemShow {
  font-weight: bold;
  margin-left: 15%;
  margin-right: 10%;
  text-align: left;
}

.fullText {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: normal;
}

.App-link {
  color: #61dafb;
}
